﻿@model IEnumerable<MVCTask.Models.DepartmentVM>

@{
    ViewBag.Title = "ManageDepartment";
}

<h2>Manage Department</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search", "Departments", FormMethod.Get))
{<div class="col-md-12">
        <div class="col-md-3">
            @Html.TextBox("SearchString") <br />
        </div>

        <div class="col-md-3">

            <input type="submit" value="Search" />
        </div>
    </div>


}
<br />        <br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumSallary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumSallary)
        </td>
        <td`>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td`>
    </tr>
    }

</table>
